target/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
lib_managed/
src_managed/
.sw?
.*.sw*
.project
.classpath
.cache
.settings/
.target/
BUILD/
RPMS/
SOURCES/
SRPMS/
tags
*.log
actions/*
*.sublime-project
*.sublime-workspace
.*.un~
oozie/lib
.DS_Store
*.rej
.sbt.no.internet.repository.config
.sbt.internet.repository.config
.sbt.local.acs.ivy.dir
.lib
